---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.service.account }}
  labels:
    account: {{ .Values.service.account }}
    chart: 'goserver-{{ .Chart.Version | replace "+" "_" }}'
